* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0B1023, #1E1B4B);
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-size: 28pxs;
    font-weight: 700;
    color: #4F8CFF;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    background: #4F8CFF;
    padding: 8px 12px;
    border-radius: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    transition: .3s;
}

nav a:hover {
    color: #A855F7;
}

.home {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 8%;
}

.home-text {
    max-width: 600px;
}

.home-text h1 {
    font-size: 60px;
    color: #4F8CFF;
}

.home-text h2 {
    margin: 10px 0;
    color: #A855F7;
}

.home-text p {
    line-height: 1.8;
    margin: 20px 0;
    color: #d8d8d8;
}

.buttons {
    display: inline-block;
    padding: 12px 28px;
    background: #4F8CFF;
    color: #fff;
    border-radius: 30px;
    margin-right: 15px;
    transition: .4s;
}
.buttons a{
    text-decoration: none;
}
.buttons:hover {
    background: #A855F7;
    transform: translateY(-3px);
}
.social {
    margin-top: 30px;
}

.social a {
    color: #fff;
    font-size: 24px;
    margin-right: 18px;
    transition: .3s;
}

.social a:hover {
    color: #4F8CFF;
}

.home-img img {
    width: 380px;
    border-radius: 100px;
    border: 6px solid #4F8CFF;
    box-shadow: 0 0 35px rgba(79, 140, 255, .5);
}

.title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 50px;
    color: #4F8CFF;
}

.about-box {
    background: #16213E;
    padding: 40px;
    border-radius: 20px;
    line-height: 1.8;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.card {
    background: #16213E;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    transition: .4s;
}

.card i {
    font-size: 55px;
    color: #f3f5f8;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px #4F8CFF;
}

.contact-info {
    text-align: center;
    background: #16213E;
    padding: 35px;
    border-radius: 20px;
}

.contact-info h3 {
    color: #4F8CFF;
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-info p {
    color: #d8d8d8;
    line-height: 1.8;
    margin-bottom: 20px;
}

.contact-info i {
    color: #4F8CFF;
    margin-right: 10px;
}

header.sticky {
    background: #111827;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .4);
}

.menu {
    display: none;
    cursor: pointer;
}

.menu-list {
    height: 3px;
    width: 35px;
    background-color: darkcyan;
    margin: 4px;
}

.container {
    width: 80%;
    height: 500px;
    border: 2px solid black;
    margin-left: 150px;
    margin-top: 50px;
    position: relative;
}

.btn-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.container{
    position:relative;
    width:100%;
    max-width:1100px;
    height: 300px;
    margin:auto;
    padding:40px 70px;
    overflow:hidden;
}

.projects-slider{
    display:flex;
    transition:transform 0.5s ease;
}

.project-card{
    min-width:100%;
    display:flex;
    align-items:center;
    gap:40px;
}

.project-card img{
    width:300px;
    height:220px;
    object-fit:cover;
    border-radius:15px;
}

.proj-cont{
    max-width:450px;
}

.proj-cont h2{
    color:#00c8ff;
    margin-bottom:15px;
}

.proj-cont p{
    color:#ccc;
    line-height:1.6;
}

.proj-bun{
    display:inline-block;
    margin-top:18px;
    padding:10px 22px;
    background:#00c8ff;
    color:#000;
    text-decoration:none;
    border-radius:25px;
}

.btn{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:45px;
    height:45px;
    border-radius:50%;
    background:#00c8ff;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.btn-left{
    left:10px;
}

.btn-right{
    right:10px;
}

.btn:hover{
    background:white;
    box-shadow:0 0 20px #00c8ff;
}

@media (max-width:500px) {

    .menu {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #111827;
        flex-direction: column;
        padding: 20px 0;
    }

    nav.showmenu {
        display: flex;
    }

    nav a {
        margin: 15px 0;
        text-align: center;
    }

    .home {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .home-img img {
        max-width: 250px;
    }

    .skill-container {
        grid-template-columns: 1fr;
    }
       .container{
        padding:30px 50px;
    }

    .project-card{
        flex-direction:column;
        text-align:center;
    }

    .project-card img{
        width:100%;
        max-width:300px;
    }
}